.form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  background-color: white;
  border-radius: 5px;
  padding: 20px;

  .form__title {
    color: rgb(118, 117, 117);
    text-align: center;
    h1 {
      color: #434343;
    }
  }

  &__group {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form__field {
      position: relative;
      display: flex;
      width: 100%;

      .icon {
        background-color: #dfdfdf;
        padding: 5px;
        border-radius: 5px 0px 0px 5px;
      }

      .icon--password-visibility {
        position: absolute;
        top: 2px;
        right: 5px;
        z-index: 1000;
        cursor: pointer;
        background-color: transparent;
      }
      input {
        width: 100%;
        outline: none;
        font-size: 12px;
        padding: 5px;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #dfdfdf;
        background-color: transparent;
      }
    }

    button {
      width: 100%;
      background-color: #233dff;
      color: #fff;
      border: none;
      padding: 8px 20px;
      font-weight: 600;
      border-radius: 5px;
    }
    button:hover {
      background-color: #233dffd2;
    }

    .form__google button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 15px 20px;
    }
  }
}

button {
  cursor: pointer;
}

.form__separator-container {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 1rem;
}
.form__separator {
  height: 1px;
  flex-grow: 1;
  position: relative;
  background-color: rgb(209, 208, 208);
}

.form__separator__text {
  position: relative;
  top: 0.45rem;
  color: rgb(118, 117, 117);
}
